<div class="sidebar">
    <app-search-checkbox-list></app-search-checkbox-list>
    <app-search-checkbox-list></app-search-checkbox-list>
    <app-search-checkbox-list></app-search-checkbox-list>
    <app-search-checkbox-list></app-search-checkbox-list>
    <app-search-checkbox-list></app-search-checkbox-list>
    
    <!-- Dejado para guardar el dise;o original -->
    <!-- <div class="widget">
        <div class="widget-title widget-collapse d-flex justify-content-between">
            <h6>Qualification</h6>
            <a class="ml-auto" data-toggle="collapse" href="#" role="button" aria-expanded="false"
                aria-controls="qualification"> <i class="fas fa-chevron-down"></i></a>
        </div>
        <div class="collapse show" id="qualification">
            <div class="widget-content">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="qualification1">
                    <label class="form-check-label" for="qualification1">Matriculation</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="qualification2">
                    <label class="form-check-label" for="qualification2">Intermediate</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="qualification3">
                    <label class="form-check-label" for="qualification3">Graduate</label>
                </div>
            </div>
        </div>
    </div> -->
</div>