<div class="row row-cols-1 g-2">
    <div class="col">
        <div class="card shadow-sm rounded-0 mb-3">
            <div class="row g-0">
                <div class="col-2">
                    <a routerLink="#"><img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        class="img-fluid" alt="..."></a>
                </div>
                <div class="col">
                    <div class="card-body pb-1">
                        <div class="row">
                            <div class="col-5">
                                <a class="text-decoration-none text-dark" routerLink="#"><h5 class="card-title">John Doe Smith</h5></a>
                                <ul class="list-group list-group-flush m-0 p-0">
                                    <li class="list-group-item">Diacono</li>
                                    <li class="list-group-item">Maestro de escuela biblica</li>
                                    <li class="list-group-item">(809)-123-4567</li>
                                </ul>
                            </div>
                            <div class="col-5">
                                <ul class="list-group list-group-flush m-0 p-0">
                                    <h6 class="card-title">&nbsp;</h6>
                                    <li class="list-group-item">Ingeniero</li>
                                    <li class="list-group-item">Informatica</li>
                                    <li class="list-group-item">38 años</li>
                                </ul>
                            </div>
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <a class="btn btn-dark" routerLink="#"><fa-icon [icon]="faEllipsis"></fa-icon></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>