<div ngbAccordion class="mb-4 rounded-0">
    <div ngbAccordionItem [collapsed]="false">
        <div ngbAccordionHeader class="rounded-0">
            <button ngbAccordionButton>Date Posted</button>
        </div>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <div class="widget-content">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dateposted1">
                        <label class="form-check-label" for="dateposted1">Last hour</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dateposted2">
                        <label class="form-check-label" for="dateposted2">Last 24 hour</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dateposted3">
                        <label class="form-check-label" for="dateposted3">Last 7 days</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dateposted4">
                        <label class="form-check-label" for="dateposted4">Last 14 days</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dateposted5">
                        <label class="form-check-label" for="dateposted5">Last 30 days</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>