<div class="card">
    <div class="card-body">
        <h6 class="card-title">Agregar registros de diezmo</h6>
        <div class="row my-3">
            <div class="col-6">
                <div class="input-group">
                    <span class="input-group-text"><fa-icon [icon]="searchIcon"></fa-icon></span>
                    <input type="text" class="form-control" placeholder="Buscar miembro">
                </div>
            </div>
            <div class="col-6">
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Cantidad a registrar">
                    <input type="date" class="form-control">
                    <button class="btn btn-primary text-capitalize">Agregar Registro</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="card mt-4">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
                    <table class="table manage-candidates-top mb-0">
                        <thead>
                            <tr>
                                <th>Miembro</th>
                                <th class="text-center">Monto del diezmo</th>
                                <th class="action text-right">Fecha</th>
                                <th class="action text-right">
                                    <div class="row">
                                        <div class="col d-flex justify-content-end">
                                            <button class="btn btn-success text-capitalize mx-0">Guardar</button>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="candidates-list">
                                <td class="title">
                                    <div class="thumb">
                                        <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                            alt="">
                                    </div>
                                    <div class="candidate-list-details">
                                        <div class="candidate-list-info">
                                            <div class="candidate-list-title">
                                                <h6 class="mb-0">Juan Manuel Ramon Garcia</h6>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="candidate-list-favourite-time text-center">
                                    <span class="candidate-list-time order-1">$5,200.00</span>
                                </td>
                                <td>
                                    <span class="candidate-list-time order-1">Hoy</span>
                                </td>
                                <td>
                                    <button class="btn btn-success me-2"><fa-icon [icon]="editIcon"></fa-icon></button>
                                    <button class="btn btn-danger"><fa-icon [icon]="deleteIcon"></fa-icon></button>
                                </td>
                            </tr>
                            <tr class="candidates-list">
                                <td class="title">
                                    <div class="thumb">
                                        <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                            alt="">
                                    </div>
                                    <div class="candidate-list-details">
                                        <div class="candidate-list-info">
                                            <div class="candidate-list-title">
                                                <h6 class="mb-0">Juan Manuel Ramon Garcia</h6>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="candidate-list-favourite-time text-center">
                                    <span class="candidate-list-time order-1">$5,200.00</span>
                                </td>
                                <td>
                                    <span class="candidate-list-time order-1">Ayer</span>
                                </td>
                                <td>
                                    <button class="btn btn-success me-2"><fa-icon [icon]="editIcon"></fa-icon></button>
                                    <button class="btn btn-danger"><fa-icon [icon]="deleteIcon"></fa-icon></button>
                                </td>
                            </tr>
                            <tr class="candidates-list">
                                <td class="title">
                                    <div class="thumb">
                                        <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                            alt="">
                                    </div>
                                    <div class="candidate-list-details">
                                        <div class="candidate-list-info">
                                            <div class="candidate-list-title">
                                                <h6 class="mb-0">Juan Manuel Ramon Garcia</h6>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="candidate-list-favourite-time text-center">
                                    <span class="candidate-list-time order-1">$5,200.00</span>
                                </td>
                                <td>
                                    <span class="candidate-list-time order-1">22 de junio</span>
                                </td>
                                <td>
                                    <button class="btn btn-success me-2"><fa-icon [icon]="editIcon"></fa-icon></button>
                                    <button class="btn btn-danger"><fa-icon [icon]="deleteIcon"></fa-icon></button>
                                </td>
                            </tr>
                            <tr class="candidates-list">
                                <td class="title">
                                    <div class="thumb">
                                        <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                            alt="">
                                    </div>
                                    <div class="candidate-list-details">
                                        <div class="candidate-list-info">
                                            <div class="candidate-list-title">
                                                <h6 class="mb-0">Juan Manuel Ramon Garcia</h6>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="candidate-list-favourite-time text-center">
                                    <span class="candidate-list-time order-1">$5,200.00</span>
                                </td>
                                <td>
                                    <span class="candidate-list-time order-1">18 de junio</span>
                                </td>
                                <td>
                                    <button class="btn btn-success me-2"><fa-icon [icon]="editIcon"></fa-icon></button>
                                    <button class="btn btn-danger"><fa-icon [icon]="deleteIcon"></fa-icon></button>
                                </td>
                            </tr>
                            <tr class="candidates-list">
                                <td class="title">
                                    <div class="thumb">
                                        <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                            alt="">
                                    </div>
                                    <div class="candidate-list-details">
                                        <div class="candidate-list-info">
                                            <div class="candidate-list-title">
                                                <h6 class="mb-0">Juan Manuel Ramon Garcia</h6>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="candidate-list-favourite-time text-center">
                                    <span class="candidate-list-time order-1">$5,200.00</span>
                                </td>
                                <td>
                                    <span class="candidate-list-time order-1">Hoy</span>
                                </td>
                                <td>
                                    <button class="btn btn-success me-2"><fa-icon [icon]="editIcon"></fa-icon></button>
                                    <button class="btn btn-danger"><fa-icon [icon]="deleteIcon"></fa-icon></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center mt-3 mt-sm-3">
                        <ul class="pagination justify-content-center mb-0">
                            <li class="page-item disabled"> <span class="page-link">Prev</span> </li>
                            <li class="page-item active" aria-current="page"><span class="page-link">1 </span> <span
                                    class="sr-only">(current)</span></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">25</a></li>
                            <li class="page-item"> <a class="page-link" href="#">Next</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>